
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/*body*/

body {
  margin: auto;
  border:1px solid rgb(237,237,237);
}

/* container */

.container {
 margin: auto;
  
}

/*header*/

header {
  display: flex;
}


.ohmyfood {
  flex:3;
  padding: 10px 10px;
  background-position: center;
  background-image: url("../images/logo/ohmyfood.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 20px 10px 0px;
}

.flèche{
  display: flex;
  /* flex:1; */
  align-items: center;
  font-size:14px;
  margin-left:8px;
  
  }
.flèche:hover .fas {
 transform:scale(1.4);
}

.ohmyfood > .fas {
    display: none;
}

/* bannière */

.bannière {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
 }


.img1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.img3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/*menu*/

.menu {
  display:flex;
  flex-direction: column;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -30px;
  background-color: rgb(244,249,247);
  
}

.titre-menu {
  display:flex;
  padding: 13px 16px 0px 16px;
  align-items: center;
  /* gap: 8px; */
}

.nom-resto {
  display:flex;
  flex:9;
  font-family: Shrikhand, sans-serif;
  font-weight:200;
  font-size:20px;
  margin: 6px 0px;
}

.icone-coeur {
  display: flex;
  margin-right: 1.5rem; 
  
  align-items: center; 
  justify-content: center; 
  font-size: 1.5rem; 
  color: black;
  cursor: pointer;
  top: 1rem; 
  right: 1rem;
}

.icone-coeur::before {
  position: absolute; 
  content: "";
  color: inherit; 

  font-family: "Font Awesome 5 Free";
  content: "\f004";
}

.icone-coeur::after { 
  position: absolute;
  content: "";
    
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  color: transparent; 
  background: radial-gradient(circle, #9356dc 0%, #ff79da 100%); 
  -webkit-background-clip: text; 
  background-clip: text; 
  font-size: 1.5rem; 
  content: "\f004"; 
  font-weight: 900; 
  opacity: 0; 
  transition: all 800ms ease-out; 
}

.icone-coeur:hover::after {
  opacity: 1;				
}


.sous-menu{
  display:flex;
  flex-direction: column;
  margin: 19px 14px 0px 14px;
}

.intitulé {
  font-size: 14px;
  position: relative;
  margin-bottom: 9px;
  color:grey;
}

.trait {
  position:relative;
  bottom:6px;
  width: 35px;
  border: 1px solid #99e2d0;
}

.item-menu {
  display:flex;
  border-radius: 15px;
  background-color:white;
  height:48px;
  gap:12px;
  margin: 5px 8px;
  align-items:center;
  font-size:8px;
  box-shadow: 0px 3px 2px 2px rgba(189, 213, 205, 0.3);
  cursor:pointer;
}

.met {
  display:flex;
  flex:8;
  flex-direction: column;
  gap:2px;
  margin-left: 7px;
}
.plat {
  font-size:13px;
  font-weight: 500;
}
.complément {
  font-size:12px;
  color:rgb(90, 90, 90);
}

.prix {
  font-weight: 550;
  margin-top: 17px;
  font-size: 12px;
  color: rgb(26, 18, 16);
  margin-right: 15px;
}

 .icone-coche {
  display:flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:#99e2d0;
  overflow: hidden;
  height:100%;
  width:0;
  align-items:center;
  justify-content: center;
  transition: 0.5s ease-out all;
 }

.fa-check-circle {
  color: white;
  font-size:20px;
}

@keyframes rotation_check {
  0% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.item-menu:hover .fa-check-circle {
  animation: rotation_check 1s;
}
.item-menu:hover .icone-coche {
  width:60px;
  justify-content: center;
}

@keyframes animation_items {
  0%{
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
    }
}

.item-menu {
  animation: animation_items 2s;
  animation-timing-function: cubic-bezier(0.5, 1.6, 0.35, 0.8);
  animation-fill-mode: both;
}

.item-menu:nth-child(1) {
  animation-delay: 100ms;
}

.item-menu:nth-child(2) {
  animation-delay: 300ms;
}

.item-menu:nth-child(3) {
  animation-delay: 600ms;
}



/*commander*/

.commande {
	display:flex;
	align-items:center;
	justify-content:center;
	width:auto;
	height:94px;
	margin-bottom: 16px;
}

.bouton-commande {
  display:flex;
  border-radius: 15px;
  height:33px;
  width:117px;
  color: white;
  align-items:center;
  justify-content:center;
  font-size:14px;
  background: linear-gradient(173deg, #FF79DA,50%,#9356DC);
  box-shadow: 0px 3px 2px 2px rgba(189, 213, 205, 0.3);
  cursor: pointer;
}	

/*footer*/

footer {
  padding: 10px 15px;
  background: rgb(48, 47, 45);
}

.footer-titre {
  font-family: "Shrikhand", "cursive"; 
  color: #fff;
  font-size: 1.5rem;
  padding: 1.2rem;
}

footer .footer_list {
  display: flex;

  flex-direction: column;
  padding-left: 1rem;
  color: #fff;
}

footer .footer_list a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

footer .footer_list .fas_p { 
 
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}

footer .footer_list .fas_p .fas {
  width: 1rem;
  margin-bottom: 1rem;
  margin-right: 5px;
}

footer a {
  font-size: 8px;
  margin-top: 2px;
  color: rgb(255, 255, 255);
}