/*version 5 - 12/10/22*/

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  /* border:1px dashed black; */
}

/*body*/

body {
  margin: auto;
  border: 1px solid rgb(237, 237, 237);
}

/* container */

.container {
  margin: auto;
}

/*header*/

header {
  display: flex;
  padding: 20px 10px;
  background-position: center;
  background-image: url("images/logo/ohmyfood.png");
  background-size: 9rem;
  background-repeat: no-repeat;
  margin: 10px;
}
/*lieu*/

.lieu {
  display: flex;
  /* padding: 10px 10px; */
  background-color: rgb(237, 237, 237);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
}

.lieu i{
  font-size: 1.2rem;
  background-color: grey;
  -webkit-background-clip: text; /*nouveau*/
  background-clip: text; /*nouveau*/
}

.lieu input {
  border: transparent;
  font-size: 1rem;
color: black;
font-weight: 800;
height: 1.5rem;
}

.lieu input::placeholder {
font-size: 1rem;
color: black;
font-weight: 800;
}

/*reservation*/

.reservation {
  display: flex;
  flex-direction: column;
  padding: 36px 10px;
  gap: 11px;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 251, 251);
  border: 1px solid rgb(237, 237, 237);
}
 
.image-resto {
  position: relative;

}

.reserve-menu {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 14px;
  text-align: center;
}
.decouvre {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: grey;
  }

.explore {
  display: flex;
  border-radius: 15px;
  border: transparent;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 15px;

  cursor: pointer;
  text-shadow: 0px 1px 0px #ffffff;
  background: linear-gradient(to bottom, #ff79da 5%, #9356dc 100%); /*couleur dégradé du coeur*/
  background-color: #ff79da;
  padding: 9px 12px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.45);
  margin-top: 10px;
  cursor: pointer;
}

/*fonctionnement*/

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 35px 20px;
  gap: 20px;
}

.choix {
  display: flex;
  border-radius: 15px;
  background-color: rgb(244, 249, 247);
  height: 48px;
  gap: 15px;
  align-items: center;
  font-size: 15px;
  box-shadow: 0px 3px 2px 2px rgba(189, 213, 205, 0.3);
  cursor: pointer;
}

.choix:hover {
 
  transform: scale(1.03);
  background-color: #ece1f9;
}

.choix:hover .fas {   /*couleur du font awesome au survol*/
  color: #9356DC;
}
.num {
  position: relative;
  text-align: center;
  font-size: 12px;
  background-color: #9356dc;
  color: white;
  width: 18px;
  height: 16px;
  padding-top: 2px;
  border-radius: 50%;
  left: -8px;
}
.choix .fas{
  font-weight: 900;
  font-size: 15px;
}
.couleur {
  color: gray;
  font-size: 9px;
}
/*liste_resto*/

.liste_resto {
  display: flex;
  flex-direction: column;
  padding: 35px 10px;
  gap: 10px;
  background-color: rgb(248, 247, 245);
}

.restaurant {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;

  gap: 3px;
  box-shadow: 4px 4px 0px 0px rgba(155, 232, 255, 0.1); /*pour ombrer légèrement le tour de la carte*/
}

.image-resto {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 190px;
}
.resto-détail {
  display: flex;
  background-color: white;
  justify-content:space-between;
  align-items: center;
  padding: 8px 5px;
  height: 60px;

}

.nom-lieu {
  display: flex;
  flex-direction: column;
 
}
.nom-resto {
  
  font-size: 1rem;
  font-weight: bold;
}

.lieu-resto {
  font-size: 1rem;
  color: grey;
}

.img1 {
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img2 {
  background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.img3 {
  background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img4 {
  background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color:#99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.icone-coeur {
  display: flex;
  margin-right: 1.5rem; /*nouveau*/
  
  align-items: center; 
  justify-content: center; 
  font-size: 1.5rem; /*nouveau*/
  color: black;
  cursor: pointer;
  top: 1rem; 
  right: 1rem;
}

.icone-coeur::before {
  position: absolute; /*absolus par rapport à la fenêtre précédente*/
  content: "";
  color: inherit; /*nouveau*/
/*   -webkit-transition: font-weight 10s, color 5s;
  -moz-transition: font-weight 10s, color 5s;
  transition: font-weight 10s, color 5s; */
  font-family: "Font Awesome 5 Free";
  content: "\f004";
}

.icone-coeur::after { 
  position: absolute;
  content: "";
/*   -webkit-transition: font-weight 10s, color 5s; 
  -moz-transition: font-weight 10s, color 5s; 
  transition: font-weight 10s, color 5s;  */     
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  color: transparent; /*nouveau*/
  background: radial-gradient(circle, #9356dc 0%, #ff79da 100%); /*nouveau*/
  -webkit-background-clip: text; /*nouveau*/
  background-clip: text; /*nouveau*/
  font-size: 1.5rem; /*nouveau*/
  content: "\f004"; /*nouveau*/
  font-weight: 900; /*nouveau*/
  opacity: 0; /*nouveau*/
  transition: all 800ms ease-out; /*nouveau*/
}

.icone-coeur:hover::after {
  opacity: 1;				/*La propriété opacity définit la transparence 
  d'un élément La propriété opacity définit la transparence d'un élément.
  Autrement dit, elle permet de définir le degré de visibilité de l'arrière-plan
  sur lequel est placé l'élément*/
}

/*footer*/

footer {
  padding: 10px 15px;
  background: rgb(48, 47, 45);
}

.footer-titre {
  font-family: "Shrikhand", "cursive"; /*nouveau*/
  color: #fff;
  font-size: 1.5rem;
  padding: 1.2rem;
}

footer .footer_list {
  display: flex;

  flex-direction: column;
  padding-left: 1rem;
  color: #fff;
}

footer .footer_list a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

footer .footer_list .fas_p { /*nouveau*/
 
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}

footer .footer_list .fas_p .fas {
  width: 1rem;
  margin-bottom: 1rem;
  margin-right: 5px;
}

footer a {
  font-size: 8px;

  margin-top: 2px;
  color: rgb(255, 255, 255);
}